h1 {
    text-align: center;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 15px;
}

ol li {
    margin-bottom: 20px;
    line-height: 0.5;
    font-size: 15px;
}

#long{
    margin-bottom: 10px;
    line-height: 1.5;
}

img {
    margin-top: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
